@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-shadow-color: var(--shadow-color);
  --color-violet: var(--violet);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --animate-line-shadow: line-shadow 15s linear infinite;
  @keyframes line-shadow {
    0% { 
      background-position: 0 0 
    }
    100% { 
      background-position: 100% -100% 
    }
  }

  --animate-orbit: orbit calc(var(--duration)*1s) linear infinite;
  @keyframes orbit {
    0% {
      transform: rotate(calc(var(--angle) * 1deg)) translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg))
    }
    100% {
      transform: rotate(calc(var(--angle) * 1deg + 360deg)) translateY(calc(var(--radius) * 1px)) rotate(calc((var(--angle) * -1deg) - 360deg))
    }
  }

  --animate-glitch: glitch 5s infinite linear alternate-reverse;
  @keyframes glitch {
    0% { clip-path: inset(80% 0 0 0) }
    5% { clip-path: inset(10% 0 85% 0) }
    10% { clip-path: inset(70% 0 15% 0) }
    15% { clip-path: inset(10% 0 85% 0) }
    20% { clip-path: inset(40% 0 43% 0) }
    25% { clip-path: inset(33% 0 25% 0) }
    30% { clip-path: inset(15% 0 94% 0) }
    35% { clip-path: inset(63% 0 17% 0) }
    40% { clip-path: inset(40% 0 20% 0) }
    45% { clip-path: inset(10% 0 56% 0) }
    50% { clip-path: inset(70% 0 30% 0) }
    55% { clip-path: inset(20% 0 30% 0) }
    60% { clip-path: inset(35% 0 10% 0) }
    65% { clip-path: inset(80% 0 35% 0) }
    70% { clip-path: inset(10% 0 85% 0) }
    75% { clip-path: inset(40% 0 43% 0) }
    80% { clip-path: inset(33% 0 25% 0) }
    85% { clip-path: inset(63% 0 17% 0) }
    90% { clip-path: inset(15% 0 94% 0) }
    95% { clip-path: inset(40% 0 20% 0) }
    100% { clip-path: inset(70% 0 15% 0) }
  }

  --animate-glitch-2: glitch-2 4s infinite linear alternate-reverse;
  @keyframes glitch-2 {
    0% { clip-path: inset(40% 0 43% 0) }
    5% { clip-path: inset(20% 0 30% 0) }
    10% { clip-path: inset(10% 0 56% 0) }
    15% { clip-path: inset(70% 0 30% 0) }
    20% { clip-path: inset(80% 0 0 0) }
    25% { clip-path: inset(10% 0 85% 0) }
    30% { clip-path: inset(40% 0 43% 0) }
    35% { clip-path: inset(33% 0 25% 0) }
    40% { clip-path: inset(63% 0 17% 0) }
    45% { clip-path: inset(15% 0 94% 0) }
    50% { clip-path: inset(40% 0 20% 0) }
    55% { clip-path: inset(70% 0 15% 0) }
    60% { clip-path: inset(35% 0 10% 0) }
    65% { clip-path: inset(63% 0 17% 0) }
    70% { clip-path: inset(15% 0 94% 0) }
    75% { clip-path: inset(10% 0 85% 0) }
    80% { clip-path: inset(40% 0 43% 0) }
    85% { clip-path: inset(33% 0 25% 0) }
    90% { clip-path: inset(10% 0 56% 0) }
    95% { clip-path: inset(70% 0 30% 0) }
    100% { clip-path: inset(20% 0 30% 0) }
  }
}

:root {
  --radius: 0.325rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.205 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --shadow-color: oklch(0.145 0 0);

  --violet: oklch(53.34% 0.29325667892482243 294.79943697698417);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --shadow-color: oklch(0.985 0 0);

  --violet: oklch(50.15% 0.2823 290.64);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply scroll-smooth;
  }

  ::-webkit-scrollbar {
    @apply bg-transparent w-1 h-2;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded bg-primary/30;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  body {
    /* Make the scrollbar thin */
    scrollbar-width: thin;

    /* Set the colors of the thumb and track areas */
    /* Thumb color: #718096 */
    /* Track color: #edf2f7 */
    scrollbar-color: var(--muted) var(--background);
  }

  pre {
    @apply overflow-x-auto py-4 px-6;
  }
  pre [data-line] {
    @apply px-2;
  }
}

@keyframes terminal-glitch {
  0% {
    opacity: 1;
    filter: brightness(1) contrast(1) hue-rotate(0deg) saturate(1) blur(0px);
  }
  10% {
    opacity: 0.8;
    filter: brightness(1.1) contrast(1.1) hue-rotate(270deg) saturate(1.7) blur(0.2px);
  }
  20% {
    opacity: 0.7;
    filter: brightness(0.9) contrast(1.15) hue-rotate(270deg) saturate(2) blur(0.3px);
    clip-path: polygon(0 0, 100% 0, 100% 3%, 0 3%);
  }
  30% {
    opacity: 0.85;
    filter: brightness(1.15) contrast(1.2) hue-rotate(270deg) saturate(1.8) blur(0.2px);
  }
  40% {
    opacity: 0.75;
    filter: brightness(0.95) contrast(1.1) hue-rotate(270deg) saturate(1.9) blur(0.25px);
  }
  50% {
    opacity: 0.9;
    filter: brightness(1.2) contrast(1.15) hue-rotate(270deg) saturate(1.7) blur(0.2px);
  }
  60% {
    opacity: 0.7;
    filter: brightness(0.9) contrast(1.2) hue-rotate(270deg) saturate(2) blur(0.3px);
  }
  70% {
    opacity: 0.85;
    filter: brightness(1.1) contrast(1.1) hue-rotate(270deg) saturate(1.8) blur(0.2px);
  }
  80% {
    opacity: 0.8;
    filter: brightness(0.95) contrast(1.15) hue-rotate(270deg) saturate(1.9) blur(0.25px);
    clip-path: polygon(0 97%, 100% 97%, 100% 100%, 0 100%);
  }
  100% {
    opacity: 1;
    filter: brightness(1) contrast(1) hue-rotate(0deg) saturate(1) blur(0px);
    clip-path: none;
  }
}

::view-transition-old(root) {
  animation: terminal-glitch 500ms cubic-bezier(0.33, 0, 0.67, 1) reverse;
}

::view-transition-new(root) {
  animation: terminal-glitch 500ms cubic-bezier(0.33, 0, 0.67, 1);
}

.animate-terminal-glitch {
  animation: terminal-glitch 400ms cubic-bezier(0.33, 0, 0.67, 1) infinite;
}

.animate-terminal-glitch-dialog {
  animation: terminal-glitch 300ms cubic-bezier(0.33, 0, 0.67, 1) infinite;
}